---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign all_categories = site.posts | map: "categories" | join: "," | split: "," | uniq | sort -%}
  {%- if all_categories.size > 0 -%}
    <h2 class="post-list-heading">Posts</h2>
    <ul class="category-list">
      {%- for category in all_categories -%}
        <li>
          <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/">
            {{ category }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
